<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BIT Music</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body>
  <div class="container">
    <div class="row d-flex justify-content-center px-0">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100 mx-0">
        <div class="col-2">
          <a class="navbar-brand" href="#"><i class="fas fa-play-circle"></i>&nbsp;&nbsp;BIT Music</a>
        </div>
        <div class="col-8 d-flex justify-content-center">
          <form class="form-inline">
            <button class="btn btn-outline-warning mx-2" type="button">Tu Musica</button>
            <button class="btn btn-outline-warning mx-2" type="button">Registrate</button>
            <button class="btn btn-outline-warning mx-2" type="button">Contactanos</button>
          </form>
        </div>
        <div class="col-2 text-white p-0">
          Luis Enrique Ruiz&nbsp;
          <img src="/bit-music/src/app/img/memoji3.png" class="rounded-circle" width="50" height="50" alt="">
        </div>
      </nav>
    </div>
  </div>

  <main>
    <div class="container w-50 alert alert-light" role="alert">
      <form>
        <div class="log-in text-center text-black p-2 mx-5">
          <h1> Contactanos</h1>
        </div>
        <div class="form-group p-2 mx-5">
          <label for="inputName">Nombre:</label>
          <input type="text" class="form-control" id="inputName" placeholder="">
        </div>
        <div class="form-group p-2 mx-5">
          <label for="inputMail">Correo electronico:</label>
          <input type="text" id="inputMail" class="form-control" placeholder="">
        </div>
        <div class="form-group p-2 mx-5">
            <label for="exampleFormControlTextarea1">Mensaje:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
        </div>
        <div class="form-group d-flex justify-content-center p-4">
          <button type="submit" class="btn btn-warning px-5 mx-5 btn-lg">Enviar Mensaje</button>
        </div>
      </form>
    </div>

  </main>

  <footer>
    <div class="container bg-dark p-0 mb-0">
      <div class="row">
        <div class="col-2 p-3 mx-2">
          <ul class="list-unstyled text-white">
            <li>Acerca BIT Music</li>
            <li>Descargas</li>
            <li>Reproductor</li>
          </ul>
        </div>
        <div class="col-2 p-3">
          <ul class="list-unstyled text-white">
            <li>Registrate</li>
            <li>Contactanos</li>
            <li>Soporte</li>
          </ul>
        </div>
        <div class="col-2 p-3">
          <ul class="list-unstyled text-white">
            <li><i class="fab fa-facebook"></i>&nbsp;Facebook</li>
            <li><i class="fab fa-instagram"></i>&nbsp;Instagram</li>
            <li><i class="fab fa-twitter"></i>&nbsp;Twitter</li>
          </ul>
        </div>
        <div class="col-5 d-flex justify-content-end">
          <img src="/bit-music/src/app/img/logo.png" class="rounded-circle align-self-center mx-0" height="80px" width="80px" alt="">
        </div>
      </div>
    </div>
  </footer>


  <router-outlet></router-outlet>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/104336beed.js" crossorigin="anonymous"></script>
</body>

</html>